.login-page {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8f8f8;
}

.form-container-login {
  font-family: 'Poppins', sans-serif;
  max-width: 450px;
  width: 90%;
  margin: 200px auto;
  padding: 30px 25px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container-login h1 {
  text-align: center;
  color: #e8222e;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.form-container-login input {
  padding: 14px 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container-login input:focus {
  border-color: #e8222e;
  box-shadow: 0 0 6px rgba(232, 34, 46, 0.4);
}

.senha-container {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-container input {
  flex: 1;
}

.btn-view-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #e8222e;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.btn-view-password:hover {
  background-color: rgba(232, 34, 46, 0.1);
}

.form-container-login button[type="submit"] {
  padding: 16px;
  background-color: #e8222e;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container-login button[type="submit"]:hover {
  background-color: #c41d27;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-container-login button[type="submit"]:disabled {
  background-color: #e69595;
  cursor: not-allowed;
  transform: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Link para cadastro */
.register-link {
  text-align: center;
  font-size: 0.95rem;
  color: #333;
}

.btn-register {
  background: none;
  border: none;
  color: #e8222e;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.btn-cadastro:hover {
  color: #c41d27;
}

.top-part-login {
    display: flex;
    justify-content: flex-end;
    gap: 105px;
}